<%= link_to "Back to Student Section", student_path, class: "btn btn-default" %>
<h3>Your Match of the Day is:

</h3>

<h3>Your previous matches:
</h3>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Student 1</th>
      <th></th>
      <th>Student 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
    <tr>
      <td><%= match.date.strftime("%d-%m-%Y") %></td>
      <td><%= match.student_1.name %></td>
      <td>
        and
      </td>
      <td><%= match.student_2.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
