<%= link_to "Back to Admin Page", admin_path, class: "btn btn-default" %>
<h1>All Matches</h1>
<table>
  <thead>
    <tr>
      <th>Student 1</th>
      <th>Student 2</th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
    <tr>
      <td><%= match.student_1_id %></td>
      <td><%= match.student_2_id %></td>
    </tr>
    <% end %>
  </tbody>
</table>
