<section align="center" class="homepage">
  <h1>Find Your Match!</h1>
  <h3>Make groups of two with the ease of a click!</h3>

  <% if !user_signed_in? %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-default" %>
  <% elsif user_signed_in? && current_user.admin? %>
  <%= link_to "Admin Section", admin_path, class: "btn btn-default"  %>
<% else %>
  <%= link_to "Student Section", student_path, class: "btn btn-default"  %>
  <% end %>
</section>
